.Todo {
  padding: 1rem;
  margin: 0;
  border-bottom: 1px solid black;
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Todo-completed {
  text-decoration: line-through;
  color: rgba(255, 255, 255, 0.25);
}

.Todo input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
}
